.implementor-wrapper {
  position: relative;
  width: 100%;
  height: 87vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.implementor-page {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.implementor-page .title {
  display: flex;
  align-items: center;
  height: 5rem;
  font-size: 2rem;
  flex-direction: column;
  justify-content: center;
}
.implementor-page .title p {
  margin: 0;
  padding: 0;
}
.implementor-page .title small {
  font-size: small;
  font-style: italic;
}
.implementor-page .content {
  flex: 1;
  position: relative;
  width: 100%;
  overflow: auto;
}
.implementor-page .content .f-button {
  /* sticky on right bottom */
  position: sticky;
  bottom: 0;
  right: 0;
  z-index: 5;
  margin-left: auto;
  margin-right: 1rem;
  margin-bottom: 1rem;
  text-decoration: none;
  color: white;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  background-color: var(--main-color);
  transition: all 0.3s ease;
}
.implementor-page .content .f-button:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.implementor-page .content .f-button:active {
  transform: scale(0.95);
}

.implementor-page .control {
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.choose-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  --gap: 0.5rem;
  gap: var(--gap);
  padding: 0.25rem;
}

.choose-item {
  --columns: 2;
  width: calc((100% / var(--columns)) - var(--gap) + (var(--gap) / var(--columns)));
  padding: 0.5rem;
  background-color: white;
  transition: all 0.3s ease;
  position: relative;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 0.25rem;
  cursor: pointer;
}

.choose-item:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.choose-item:active {
  transform: scale(0.98);
}

.choose-item.active {
  background-color: var(--main-color);
  color: white;
}

.center-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

#startmap {
  height: 40rem;
  transition: all 0.3s ease;
}

.result-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

#result-map {
  flex: 1;
}

.result-desc {
  flex: 1;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.result-parameter th,
.result-parameter td {
  vertical-align: top;
}

.result-parameter .collection-item .secondary-content {
  background-color: var(--main-color);
  color: white;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  font-weight: bold;
  font-size: 0.8rem;
}

.result-parameter .collection-item {
  border: 1px solid transparent;
  transition: all 0.3s ease;
  cursor: pointer;
}
.result-parameter .collection-item:hover {
  border: 1px solid var(--main-color);
}
.result-parameter .collection-item:active {
  transform: scale(0.98);
}

#all-routes .route-wrapper {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0.2rem 0.2rem;
  gap: 0.25rem;
  transition: all 0.3s ease;
  border: 1px solid transparent;
  cursor: pointer;
}
#all-routes .route-wrapper:hover {
  border: 1px solid var(--main-color);
}
#all-routes .route-wrapper:active {
  transform: scale(0.98);
}
#all-routes .route-wrapper .route {
  flex: 1;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: start;
  overflow-y: hidden;
  overflow-x: auto;
  text-wrap: nowrap;
  gap: 0.25rem;
}
#all-routes .route-wrapper .route span {
  font-weight: bold;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 0.25rem 1rem 0.25rem 0.5rem;
  color: white;
}

#all-routes .route-wrapper .distance {
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#all-routes .route-wrapper .distance span {
  font-size: 0.6rem;
  font-weight: bold;
  border-radius: 0.25rem;
  padding: 0.25rem 0.5rem;
  color: white;
}

.fastest-route .collection-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem 0.5rem;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 1px solid transparent;
}
.fastest-route .collection-item:hover {
  border: 1px solid var(--main-color);
}
.fastest-route .collection-item:active {
  transform: scale(0.98);
}

.fastest-route .route {
  width: 76%;
  height: 2.5rem;
  flex: 1;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  padding: 0 0.5rem;
}
.fastest-route .strip {
  width: max-content;
}
.fastest-route .place {
  flex: 1;
  text-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}
.fastest-route .place.to {
  text-align: right;
}
.fastest-route .distance {
  width: 18%;
  height: 2.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  justify-content: center;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
  font-size: 0.8rem;
}

@media only screen and (min-width: 768px) {
  .choose-item {
    --columns: 3;
  }

  #startmap {
    height: 30rem;
  }
}

@media only screen and (min-width: 992px) {
  .implementor-wrapper {
    height: 67vh;
  }

  .choose-item {
    --columns: 4;
  }

  #startmap {
    height: 16rem;
  }
}
