{% extends "layout/panel.html" %}
{% block inside %}
<div class="row">
    <div class="col s12">
        <div class="card book">
            <div class="paper-wrap">
                <div class="paper-main">
                    <div class="row center">
                        <div class="col s12">
                            <a class="waves-effect waves-light btn btn-add paper-trigger green" target="paper1"
                                data-context="destinasi"><i class="material-icons">add</i></a>
                            <a class="waves-effect waves-light btn paper-trigger blue darken-1" target="paper2"><i
                                    class="material-icons">pin_drop</i></a>
                            <a class="waves-effect waves-light btn paper-trigger btn-map orange darken-1"
                                target="paper3"><i class="material-icons">map</i></a>
                        </div>
                    </div>
                    <div class="row paper-content">
                        <div class="col s12" style="padding: 0 3.5rem;">
                            <table class="striped highlight responsive-table" id="table-destinasi" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>Distrik</th>
                                        <th>Nama Destinasi</th>
                                        <th>Aksi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="paper-fold from-bottom" id="paper1">
                    {% include "page/destinasi-tambah.html" %}
                </div>
                <div class="paper-fold from-right" id="paper2">
                    {% include "page/destinasi-distrik.html" %}
                </div>
                <div class="paper-fold" id="paper3">
                    {% include "page/destinasi-map.html" %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{{ url_for('static', filename='js/page/destinasi.js')}}"></script>
{% endblock %}