{% extends "layout/panel.html" %}
{% block content %}
<br>
<div class="row">
    <div class="col s12 center">
        <a class="waves-effect waves-light btn green btn-slider" data-target="form" data-action="add"><i
                class="material-icons left">add</i>Tambah</a>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <table class="striped highlight responsive-table" id="table-model" style="width:100%">
            <thead>
                <tr>
                    <th>Model Dibuat</th>
                    <th>Model Dilatih</th>
                    <th>Test Size / K-Fold</th>
                    <th>Akurasi</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<div class="page-slider" data-page="form">
    <div class="slider-nav">
        <a class="waves-effect waves-light btn orange btn-slider-close"><i
                class="material-icons left">arrow_back</i>Kembali</a>
    </div>
    <div class="slider-content">
        <form action="#!" method="POST">
            <div class="row">
                <div class="col s12 m6 offset-m3">
                    <div class="row">
                        <div class="input-field s12">
                            <select name="loss">
                                <option value="" disabled selected>Pilih Loss Function</option>
                                <option value="hinge">Hinge</option>
                                <option value="log_loss">Log loss</option>
                                <option value="modified_huber">Modified huber</option>
                                <option value="squared_hinge">Squared hinge</option>
                                <option value="perceptron">Perceptron</option>
                                <option value="squared_error">Squared error</option>
                                <option value="huber">Huber</option>
                                <option value="epsilon_insensitive">Epsilon insensitive</option>
                                <option value="squared_epsilon_insensitive">Squared epsilon insensitive</option>
                            </select>
                            <label>Distrik</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field s12">
                            <input id="alpha" name="alpha" type="number" class="validate" min="0.0001" step="0.0001"
                                required>
                            <label for="alpha">Learning Rate</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field s12">
                            <input id="max_iter" name="max_iter" type="number" class="validate" min="1" step="1"
                                required>
                            <label for="max_iter">Itereasi Maksimal</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field s12">
                            <input id="testsize" name="testsize" type="number" class="validate" min="0.1" step="0.1"
                                required>
                            <label for="testsize">Ukuran Data Testing / K-Fold</label>
                            <span class="helper-text">Gunakan angka desimal untuk merepresentasikan persentase data
                                testing atau gunakan angka bulat diatas 1 untuk menggunakan K-Fold</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field s12 center">
                            <button class="btn waves-effect waves-light green darken-3" type="submit">Simpan</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="page-slider" data-page="learning">
    <div class="slider-nav">
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
    <div class="slider-content">
        <div class="container model-loader">
            <img class="model-loader" src="{{ url_for('static', filename='img/loader/2.gif')}}" alt="loader">
            <br><br>
            <p class="model-loader"><em>Sedang Menjalankan Proses Pelatihan...</em></p>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    const loader_urls = [
        `{{ url_for('static', filename='img/loader/1.gif')}}`,
        `{{ url_for('static', filename='img/loader/2.gif')}}`,
    ]
    const loader_text = [
        `Sedang Menjalankan Proses Pelatihan...`,
        `Harap Bersabar...`,
        `Kami Jalankan Proses ini secara otomatis di belakang layar...`,
        `Nikmati kopi anda terlebih dahulu...`,
    ]
</script>
<script src="{{ url_for('static', filename='js/page/model.js') }}"></script>
{% endblock %}