<a href="{{ url_for('views.home') }}" data-page="dashboard" class="page-nav"><i class="material-icons">home</i>
    <span>Beranda</span></a>
<a href="{{ url_for('views.gizi') }}" data-page="gizi" class="page-nav"><i class="material-icons">source</i> <span>Data
        Gizi</span></a>
<a href="{{ url_for('views.model') }}" data-page="model" class="page-nav"><i class="material-icons">account_tree</i> <span>Learning
        Model</span></a>
<a href="#!" data-page="test" class="page-nav"><i class="material-icons">science</i>
    <span>Prediksi</span></a>