<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SGD</title>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/png">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dt/datatables.min.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/materialize.min.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}" />
    {% block style %}{% endblock %}
</head>

<body>
    <div class="page-wrapper">
        <div class="page-box">
            <div class="page-nav-wrapper">
                {% include 'layout/panel-navbar.html' %}
            </div>
            <div class="page-content">
                {% block content %}{% endblock %}
            </div>
            <div class="page-meta center">
                {% include 'layout/panel-meta.html' %}
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/chart.umd.js')}}"></script>
    <script src="{{ url_for('static', filename='js/swal.js')}}"></script>
    <script src="{{ url_for('static', filename='dt/datatables.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/materialize.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/utils/puller.js')}}"></script>
    <script src="{{ url_for('static', filename='js/moment.js')}}"></script>
    <script src="{{ url_for('static', filename='js/moment-timezone.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"
        integrity="sha512-d8F1J2kyiRowBB/8/pAWsqUl0wSEOkG5KATkVV4slfblq9VRQ6MyDZVxWl2tWd+mPhuCbpTB4M7uU/x9FlgQ9Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        const baseUrl = "";
        let page = "{{ page }}";
        const cloud = new Puller();
    </script>
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
    {% block script %}{% endblock %}
</body>

</html>