<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SGD</title>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/png">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dt/datatables.min.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/materialize.min.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}" />
    {% block style %}{% endblock %}
</head>

<body>
    <div class="page-wrapper">
        <div class="page-box">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi quaerat quod omnis fugit ab, repellendus reprehenderit. Porro molestias nobis quis eveniet magni enim, ipsum iure explicabo dolorem. Sit, obcaecati sed.</p>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/jquery-3.7.1.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/chart.umd.js')}}"></script>
    <script src="{{ url_for('static', filename='js/swal.js')}}"></script>
    <script src="{{ url_for('static', filename='dt/datatables.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/materialize.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js/utils/puller.js')}}"></script>
    <script>
        const baseUrl = "";
        let page = "{{ page }}";
        const cloud = new Puller();
    </script>
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
    {% block script %}{% endblock %}
</body>

</html>